<div class="dashboard">
    <header class="dashboard__header">
        <h1>Draw Results by Hunt Code</h1>
        <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn--logout" %>
        <% end %>
    </header>

    <%= form_with url: dashboard_path, class: 'form form__inline', method: :get, scope: :filters, local: true do |f| %>
        <div class="form__field">
            <%= f.label :species, "Species" %>
            <%= f.select :species,
                options_for_select(HuntStat::SPECIES_OPTIONS, @filters[:species]),
                { include_blank: "All Species" } %>
        </div>

        <div class="form__field">
            <%= f.label :sex, "Sex" %>
            <%= f.select :sex,
                options_for_select(HuntStat.sex_options_for_select, @filters[:sex]),
                { include_blank: "All" } %>
        </div>

        <div class="form__field">
            <%= f.label :hunt_method, "Method" %>
            <%= f.select :hunt_method,
                options_for_select(HuntStat::METHOD_OPTIONS, @filters[:hunt_method]),
                { include_blank: "All Methods" } %>
        </div>

        <div class="form__field">
            <%= f.label :resident, "Status" %>
            <%= f.select :resident,
                options_for_select(HuntStat::RESIDENT_OPTIONS, @filters[:resident]&.to_s),
                { include_blank: "All" } %>
        </div>

        <div class="form__actions">
            <%= f.submit "Filter" %>
            <%= link_to "Clear", dashboard_path %>
        </div>
    <% end %>

    <% if @draw_results.any? %>
        <div class="results-summary">
            <p>Showing <%= @draw_results.size %> of <%= @total_count %> hunt codes</p>
        </div>

        <section class="draw-results" id="draw-results">
            <% @draw_results.each do |hunt_code, data| %>
                <%= render partial: 'hunt_card', locals: { hunt_code: hunt_code, data: data, filters: @filters } %>
            <% end %>
        </section>

        <% if @has_more %>
            <div class="load-more-container" id="load-more-container">
                <%= link_to "Load More", 
                    dashboard_path(page: @next_page, filters: @filters), 
                    class: "btn btn--load-more",
                    remote: true,
                    id: "load-more-btn",
                    data: { disable_with: "Loading..." } %>
            </div>
        <% end %>
    <% else %>
        <section class="empty-state">
            <p>No draw results found. Try adjusting your filters.</p>
        </section>
    <% end %>
</div>
