<div class="page">
    <h1>Dashboard</h1>

    <%= form_with url: dashboard_path, class: 'form form__inline', method: :get, scope: :filters, local: true do |f| %>
        <div class="form__field">
            <%= f.select :species,
                options_for_select(HuntStat::SPECIES_OPTIONS, @filters[:species]),
                { include_blank: "Any species" } %>
        </div>

    <div class="form__field">
        <%= f.select :sex,
        options_for_select(HuntStat::SEX_OPTIONS, @filters[:sex]),
        { include_blank: "Any sex" } %>
    </div>


  <div class="form__field">
        <%= f.select :hunt_method,
        options_for_select(HuntStat::METHOD_OPTIONS, @filters[:hunt_method]),
        { include_blank: "Any method" } %>
  </div>


  <div style="margin-top: 12px;">
    <%= f.submit "Filter" %>
    <%= link_to "Clear", dashboard_path %>
  </div>
<% end %>


    <section class="results-table-container">
        <table class="results-table">
            <tbody>
            <% @hunt_results_by_code.each do |hunt_code, columns| %>
                <tr>
                <td class="sticky-col"><%= hunt_code %></td>

                <% columns.each do |c| %>
                    <td><%= c[:success] %> / <%= c[:applicants] %></td>
                <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </section>
</div>